__pycache__/
*.pyc
*.mp4
*.mov
lap timer format.pdf
reference docs/
source/Luke Liu_BMW M3 HANS _Palmer MA_a_1188.csv
data wizard design.txt
more design updates.txt
design notes git ignore this/
*_export_report.txt
